# Case Study on Testing of Hypothesis

A company started to invest in digital marketing as a new way of their product promotions. For that they collected data and decided to carry out a study on it.

● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

● The company needs to check whether there is any dependency between thefeatures “Region” and “Manager”.

Help the company to carry out their study with the help of data provided.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv(r'C:\Users\sruth\OneDrive\Desktop\Sales_add.csv')

In [3]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [5]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [6]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [8]:
from scipy.stats import ttest_rel

In [9]:
# Perform paired t-test

t_statistic, p_value = ttest_rel(data['Sales_before_digital_add(in $)'], data['Sales_After_digital_add(in $)'])

In [10]:
p_value

6.336667004575778e-11

In [11]:
# Interpret the results
if p_value < 0.05:
    print("There is a significant increase in sales after stepping into digital marketing.")
else:
    print("There is no significant increase in sales after stepping into digital marketing.")

There is a significant increase in sales after stepping into digital marketing.

from the above test we can see that there is a significant increase in sales after stepping into digital marketing

In [12]:
from scipy.stats import chi2_contingency

In [13]:
contingency_table = pd.crosstab(data['Region'], data['Manager'])
chi2, p_value1, dof, exp_values = chi2_contingency(contingency_table)

In [14]:
contingency_table

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [15]:
p_value1

0.5493991051158094

In [16]:
# Interpret the results
if p_value1 < 0.05:
    print("There is a significant dependency between the 'Region' and 'Manager' features.")
else:
    print("There is no significant dependency between the 'Region' and 'Manager' features.")

There is no significant dependency between the 'Region' and 'Manager' features.

Here we can see that there is no significant dependency between the 'Region' and 'Manager'