In [1]:
name=input('Enter the name')  # question1
roll_number=input('Enter the Roll number')
mark=input('Enter the mark')
print('Name:',name)
print('Roll Number:',roll_number)
print('Mark:',mark)

Enter the nameAnisha
Enter the Roll number21
Enter the mark78
Name: Anisha
Roll Number: 21
Mark: 78

In [2]:
f=float(input('Enter the temperature in Farenheit')) #farenheit to celsius,question2
c=(f-32)*5/9
print('Temperature in Celsius=',c)

Enter the temperature in Farenheit98.6
Temperature in Celsius= 37.0

In [3]:
c1=float(input('Enter the temperature in celcius'))#celsius to farenheit
f1=32+(9/5)*c1
print('temperature in Farenheit =',f1)

Enter the temperature in celcius37
temperature in Farenheit = 98.60000000000001

In [4]:
n1=float(input('Enter the number1 '))  #question 3
n2=float(input('Enter the number2 '))
p=n1*n2
print('Product =',p)

Enter the number1 4
Enter the number2 2.5
Product = 10.0

In [5]:
import math
math.pi

3.141592653589793

In [6]:
r=int(input('Enter the radius in cm ')) #question 5
area=math.pi*r*r
print('Area in square cm =',area)

Enter the radius in cm 10
Area in square cm = 314.1592653589793

In [7]:
print('"Learn python  by developing a website"')   #question 4
print('"Learn',end='**')
print('python',end="**")
print('by Developing a',end=('**'))
print('website"',end=('**"'))

"Learn python  by developing a website"
"Learn**python**by Developing a**website"**"

In [8]:
list1=[2,4,5,6,7,8,8,9]

In [9]:
type

type

In [12]:
no=int(input("Enter the number"))  #question6
pos=int(input("Enter the postion"))
list1.insert(pos,no)
print( "The list is ",list1)

Enter the number6
Enter the postion1
The list is  [2, 6, 4, 4, 5, 6, 7, 8, 8, 9]

In [13]:
d={"name":"John","Age":50,"Salary":8000,"City":"Newyork"}   #question 7

In [14]:
d

{'name': 'John', 'Age': 50, 'Salary': 8000, 'City': 'Newyork'}

In [16]:
ct=input("Enter the location ")
d['City']=ct
d

Enter the location Canada

{'name': 'John', 'Age': 50, 'Salary': 8000, 'City': 'Canada'}

In [17]:
d2={'emp1':{'Name':'John','Salary':7500},'emp2':{'Name':'Emma','Salary':8000},'emp3':{'Name':'Brad','Salary':500}} #qn 8

In [19]:
d2

{'emp1': {'Name': 'John', 'Salary': 7500},
 'emp2': {'Name': 'Emma', 'Salary': 8000},
 'emp3': {'Name': 'Brad', 'Salary': 500}}

In [27]:
d2['emp3']['Salary']=8500

In [28]:
d2

{'emp1': {'Name': 'John', 'Salary': 7500},
 'emp2': {'Name': 'Emma', 'Salary': 8000},
 'emp3': {'Name': 'Brad', 'Salary': 8500}}

In [29]:
tuple1=(10,20,43,54,56,68)   #question 9

In [32]:
t1=(tuple1[2:4])

In [33]:
t1

(43, 54)

In [35]:
type(t1)

tuple

In [39]:
tuple2=(50,10,60,70,50,83,567,50,81) #question 10
tuple2.count(50)

3