In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_excel(r"C:\Users\sruth\OneDrive\Desktop\iris .xls")

In [3]:
data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  4.7  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [4]:
 #Split the data into features and target variable 
X = data.drop("Classification", axis=1)  # Features
y = data["Classification"]  # target

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=30)

In [7]:

#logistic Regression
from sklearn.linear_model import LogisticRegression
logit_model =LogisticRegression()
logit_model.fit(X_train,y_train)
y_pred_lr =logit_model.predict(X_test)

C:\Users\sruth\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [8]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
# Evaluation
print('Accuracy =', accuracy_score(y_test, y_pred_lr))

Accuracy = 0.9666666666666667

In [11]:
#save the modeule
import pickle
filename ='saved.sav'
pickle.dump(logit_model, open(filename,'wb'))

In [12]:
load_model = pickle.load(open(filename,'rb'))

In [13]:
X_test.head()

      SL   SW   PL   PW
20   5.4  3.4  1.7  0.2
5    5.4  3.9  1.7  0.4
3    4.6  3.1  1.5  0.2
101  5.8  2.7  5.1  1.9
82   5.8  2.7  3.9  1.2

In [14]:
load_model.predict([[5.4,3.4,1.7,0.2]])

C:\Users\sruth\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['Iris-setosa'], dtype=object)

In [15]:
load_model.predict([[6,4,3,0.5]])

C:\Users\sruth\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['Iris-versicolor'], dtype=object)